@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.something{
  width:100%;
}
.top-border{
  border-bottom:0.1rem solid rgb(53, 53, 53);
}
.br{
  border-right:0.02px solid rgb(95, 95, 95);
}
w-f{
  width:95%;
}
body{
  height:100%;
  padding:0;
  margin:0;
  background-color: rgb(0, 0, 0);
 



}

.height-100{
  height:40rem;
}
.grid-manual{
  grid-template-columns: 0.05fr 1fr;
}

.grid-phone{
  display:grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: repeat(1fr,10);
}
.grid-laptop{
  display:grid;
  grid-template-rows:1fr 1fr;
  
}
.cols-lg{
 background:red;
}
.grid-lap{
  grid-template-columns: 1fr 0.5fr 1fr 0.5fr;

}



@media only screen and (min-device-width: 765px) and (max-device-width: 800px){
  /* For portrait layouts only */
  .grid-extra{
    grid-template-columns: 2fr 0.3fr 2fr 0.3fr;
    grid-template-rows: 1fr 1fr;
  }
}

